<div class="container mt-5">
  <h1>New Auction</h1>
  <%= simple_form_for @auction do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>

  <hr>
  <%= link_to 'Back to List', root_path %>
</div>
